<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link href="/_static/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>{{ game.title }}</title>
</head>
<body>

    <div class="content d-inline-block mt-2">
        <a href="..">All games</a>
    </div>

    <div class="container mt-2">

        <div class="row content">

            <div class="col-md-8">
                <h1>{{ game.title }}</h1>

                {{ game.description | markdown }}

                {% for release in game.releases %}
                    <div class="release">
                        <h2>Release {{ release.version }}</h2>
                        <p>Released {{ release.date | date}}</p>
                        <p>{{ release.description | markdown }}</p>

                        <ul>
                            {% for file in release.files %}
                                <li>
                                    <a href="{{ file.link }}">{{ file.name }}</a>
                                    {% if file.size %}
                                        ({{ file.size | filesizeformat }})
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}

            </div>



        </div>

    </div>

    <script src="script.js" defer></script>
    <script src="/_statc/bootstrap.bundle.min.js"></script>
</body>
</html>
