body {
    background: #ada;
    padding-left: 12px;
    padding-right: 12px;
}

.content {
    padding: 12px;
    background-color: #ffffff;
    border-radius: 8px;
}

.thumbnail {
    border-radius: 4px;
}
