body {
{% if page.image_link("background") %}
    background: url("{{ page.image_link('background') }}") repeat;
{% else %}
    background: {{ page.background | default('#ada') }};
{% endif %}
    padding-left: 12px;
    padding-right: 12px;
}

.content {
    padding: 12px;
    background-color: #ffffff;
    border-radius: 8px;
}

.thumbnail {
    border-radius: 4px;
}
